  .modalupload {
    font-size: 16px;
    z-index: 200;
  }
  .modalupload > .header {
    width: 100%;
    border-bottom: 1px solid gray;
    font-size: 18px;
    text-align: center;
    padding: 5px;
  }
  .modalupload > .content {
    width: 100%;
    padding: 10px 5px;
  }
  .modalupload > .actions {
    margin: auto;
  }
  .modalupload > .actions {
    width: 100%;
    padding: 10px 5px;
    text-align: center;
  }
  .modalupload > .close {
    cursor: pointer;
    position: absolute;
    display: block;
    padding: 2px 5px;
    line-height: 20px;
    right: -10px;
    top: -10px;
    font-size: 24px;
    background: #ffffff;
    border-radius: 18px;
    border: 1px solid #cfcece;
  }
  #button{
    width: 100px;
  }
  #input{
    background: blue;
  }